.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    gap: 1.5rem;
}

